<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <title>Success!</title>
    <style>
        body, html {
            font-family: "Montserrat", sans-serif;
            overflow-y: hidden;
            padding: 1rem;
        }
        p {
            font-size: 1.2rem
        }
    </style>
  </head>
  <body>
  <h1>Success!</h1>
  <p>Now go visit Microwave <b>Sanyo EM-S7560W</b> to complete your transaction.</p>
  </body>
</html>
